*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
.contenedor {
	box-sizing: border-box;
	background-color:#1a1a1a;
	font-family: Arial, sans-serif;
	font-size: 16px;
	margin: 0;
	padding: 0;
	color: #ccc;
	width: 100%;
}

header {
	background-color: #0f0f0f;
	box-shadow: 0 2px 4px rgba(0,0,0,0.1);
	padding: 20px;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1;
}
.menu{
	display: none;
}
#menu{
	display: none;
}
nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

nav li {
	display: inline-block;
	margin-right: 20px;
}

nav a {
	color: #989898;
	text-decoration: none;
}

nav a:hover {
	color: #5a5a5a;
}

main {
	margin-top: 100px;
	padding: 20px;
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 100%;
}
.acerca{
	display: flex;
	justify-content: center;
	gap: 3rem;
}

.acerca section{
	display: flex;
	flex-direction: column;
	width: 40vw;
}
h3{
	font-size: 3rem;
	align-self: center;
}
img{
	margin-right: 1rem;
	align-self: flex-end;
	height: 35vh;
	width: 20rem;
	border-radius: 20px;
}
.about{
	width: 30vw;
}

.listas {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 2rem;
	gap: 2rem;
}
.listas h2{
	font-size: 2rem;
}
.intereses ol, .hobies ul, .conocimientos dl{
	display: flex;
	justify-content: center;
	gap: 2rem;

}
.intereses img, .hobies img, .conocimientos img{
	height: 25vh;
	width: 20rem;
	opacity: 0.8;
}

.conocimientos dl dl{
	display: flex;
	flex-direction: column;
	align-items: center;
}

footer{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #0f0f0f;
	box-shadow: 0 2px 4px rgba(0,0,0,0.1);
	padding: 20px;
}
form{
	width: 50vw;
}
form label {
	display: block;
	margin-bottom: 10px;
}

form input[type="text"],
form input[type="email"],
form input[type="tel"],
form textarea {
	border: none;
	border-radius: 5px;
	padding: 10px;
	width: 100%;
	margin-bottom: 15px;
}

form input:enabled{
	border: none;
}

form input[type="submit"] {
	background-color: #fff;
	border: 1
}

form button{
	padding: 15px 30px;
	background-color: rgba(0, 183, 255, 0.468);
	border: none;
	border-radius: 10px;
	font-size: 1.2rem;
	color: white;
}

@media (max-width: 820px) {


	.listas h2{
		font-size: 2rem;
		margin: 0;
	}
	.intereses ol, .hobies ul, .conocimientos dl{
		display: flex;
		justify-content: center;
		gap: 0.5rem;
	
	}
	.intereses img, .hobies img, .conocimientos img{
		height: 15vh;
		width: 10rem;
		opacity: 0.8;
	}
	
	.conocimientos dl dl{
		display: flex;
		flex-direction: column;
		align-items: center;
	}

}

@media (max-width:360px) {
	body{
		display: block;
		width: auto;
	}
	header{
		padding: 10px;
	}
	h1{
		margin: 5px;
		text-align: center;
		font-size: 2rem;
	}
	nav ul{
		display: grid;
		grid-template-columns: auto auto;
		grid-template-rows: 2rem 2rem 2rem;
		text-align: center;
	}
	main {
		width: 100vw;
		margin-top: 150px;
	}
	h3{
		font-size: 2rem;
		margin: 2rem 0;
		width: 15rem;

	}
	.acerca{
		width: auto;
		gap: 0.5rem;
	}
	.acerca section{
		display: flex;
		flex-direction: column;
		width: auto;

	}
	
	img{
		margin-right: 1rem;
		align-self: flex-end;
		justify-self: center;
		height: 25vh;
		width: 10rem;
		border-radius: 20px;
	}
	.about{
		width: auto;
		font-size: 0.75rem;
	}

	.listas {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 1rem 0.5rem;
		gap: 2rem;

	}
	.listas h2{
		font-size: 1.5rem;
	}
	.intereses h2, .hobies h2, .conocimientos h2{
		padding-bottom: 1rem;
	}
	.intereses ol, .hobies ul, .conocimientos dl{
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 1rem;
	
	}
	.intereses img, .hobies img, .conocimientos img{
		height: 25vh;
		width: 15rem;
		opacity: 0.8;
	}
	
	.conocimientos dl dl{
		display: flex;
		flex-direction: column;
		align-items: center;
	}

}