* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: Arial, sans-serif;
}

.contenedor {
	background-color: #1a1a1a;
	font-size: 16px;
	color: #ccc;
	width: 100%;
}

header {
	background-color: #0f0f0f;
	padding: 1.5rem;
	position: sticky;
	top: 0;
	width: 100%;
	z-index: 1;
	display: flex;
	flex-direction: column;
	gap: 15px;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

nav li {
	display: inline-block;
	margin-right: 20px;
}

nav a {
	color: #989898;
	text-decoration: none;
}

nav a:hover {
	color: #5a5a5a;
}

main {
	padding: 20px;
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 100%;
	gap: 1.5rem;
}

.acerca {
	display: flex;
	justify-content: center;
	gap: 3rem;
}

.acerca section {
	display: flex;
	flex-direction: column;
	width: 40vw;
}

h3 {
	font-size: 3rem;
	align-self: center;
}

img {
	margin-right: 1rem;
	align-self: flex-end;
	height: 35vh;
	width: 20rem;
	border-radius: 20px;
}

.about {
	width: 30vw;
}

.listas {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 2rem;
	gap: 2rem;
}

.listas h2 {
	font-size: 2rem;
	margin-bottom: 1rem;
}

.intereses ol,
.hobies ul,
.conocimientos dl {
	display: flex;
	justify-content: center;
	gap: 2rem;

}

.intereses img,
.hobies img,
.conocimientos img {
	height: 25vh;
	width: 20rem;
	opacity: 0.8;
}

.conocimientos dl dl {
	display: flex;
	flex-direction: column;
	align-items: center;
}

footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #0f0f0f;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	padding: 20px;
	gap: 1rem;
	width: 100%;
}

footer h3 {
	font-size: 1.2rem;
}

footer h3 a {
	color: #ccc;
	text-decoration: none;

}

footer svg {
	height: 2rem;
	width: 2rem;
}

footer div {
	display: flex;
	justify-content: space-between;
	width: 80%;
	height: 4rem;
}

/* media query de mini pc ................................... */
@media (max-width:1024px) {

	.acerca img {
		align-self: flex-end;
		height: 15rem;
		width: 19rem;
		border-radius: 20px;
	}

	.intereses img,
	.hobies img,
	.conocimientos img {
		width: 15rem;
	}
}

/* Media query de tablet ............................... */
@media (max-width: 768px) {

	header {

		width: 100%;

	}

	main {
		width: 100%;
		padding: 20px 10px;
	}

	.acerca {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 1rem;
	}

	.acerca section {
		display: flex;
		flex-direction: column;
		width: 40vw;
	}

	h3 {
		font-size: 3rem;
		align-self: center;
	}

	.acerca img {
		margin-right: 0;
		width: 18rem;
	}

	.about {
		width: 18rem;
	}

	.listas h2 {
		margin-bottom: 1rem;
	}

	.intereses ol,
	.hobies ul,
	.conocimientos dl {
		display: flex;
		justify-content: center;
		gap: 0.5rem;
	}

	.intereses img,
	.hobies img,
	.conocimientos img {
		height: 15vh;
		width: 10rem;
		opacity: 0.8;
	}

	.conocimientos dl dl {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	footer {
		width: 100%;
	}

}

/* Media queri formato cel............................................. */
@media (max-width:360px) {
	header {
		padding: 1rem;
	}

	h1 {
		text-align: center;
		font-size: 2rem;
	}

	nav ul {
		display: grid;
		grid-template-columns: auto auto;
		grid-template-rows: 2rem 2rem 2rem;
		text-align: center;
	}

	h3 {
		font-size: 2rem;
		width: 15rem;
	}

	.acerca {
		display: flex;
		flex-direction: column;
		width: auto;
		gap: 0.5rem;
	}

	.acerca section {
		display: flex;
		flex-direction: column;
		width: auto;
		padding: 0 2rem;
	}

	.acerca img {

		align-self: flex-end;
		justify-self: center;
		height: 25vh;
		width: 14rem;
		border-radius: 20px;
	}

	.about {
		width: auto;
		font-size: 0.75rem;
	}

	.listas {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 1rem 0.5rem;
		gap: 2rem;

	}

	.listas h2 {
		font-size: 1.5rem;
	}

	.intereses h2,
	.hobies h2,
	.conocimientos h2 {
		padding-bottom: 1rem;
	}

	.intereses ol,
	.hobies ul,
	.conocimientos dl {
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 1rem;

	}

	.intereses img,
	.hobies img,
	.conocimientos img {
		height: 25vh;
		width: 15rem;
		opacity: 0.8;
	}

	.conocimientos dl dl {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

}